<div (*ngIf)="movies.length > 0">
  <ul class="list-of-movies">
    <li *ngFor="let movie of movies | paginate: {   itemsPerPage: 20,
                                                      currentPage: page,
                                                      totalItems: total }"
        routerLink="/movie/{{movie.id}}">
      <img src="{{movie.backdrop_path ? (urlImage + movie.backdrop_path): defaultImage}}">
      <div class="name-movie"> {{ movie.title }}<span *ngIf="movie.adult">18+</span></div>
    </li>
  </ul>
  <div class="has-text-centered">
    <pagination-controls (pageChange)="getDataPerPage($event)"></pagination-controls>
  </div>
</div>
