ul {
  list-style: none;
  font-size: 24px;
  padding: 10px;
  text-align: center;
}

ul li {
  display: inline-block;
  margin: 10px;
}
.has-text-centered{
  text-align: center;
}
img{
  width: 500px;
  height: 280px;
}
.movie{
  text-align: center;
}
